html {
    overflow-x: hidden;
}

.background-white {
    background-color: white;
}

.border-orange {
    border: 1px solid #ff7d00;
    border-radius: 5px;
}
.arma_header{
    background-image: url(../HTML_Native_Layout-1/img/armatura_header.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 110px;
    z-index: -1;
    height: 110px;
    
}
.line_position{
   
}
.line_bg{
    z-index: 9999;
    position: absolute;
    top: -230px;
    left: 0px;
    background-image: url(../HTML_Native_Layout-1/img/line.png);
    width: 100%;
    height: 1500px;
    background-size: 70%;
    background-position: right;
    background-repeat: no-repeat;
    border: solid 0 #fff;
}
.contain_text_name_blok>div {
    margin: 0px;
}
.contain_text_name_blok {
    display: flex;
}

.img3000 {
    width: auto !important;
    margin: 0px;
}

.takeMoreButton {
    display: none;
}

.price_block>h2 {
    font-size: 30px;
    font-weight: 100;
}

.price_text {
    font-size: 20px !important;
}

.price_block_text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

p.three_tex {
    font-size: 23px;
}

.mb-5.p-r.background-orange.beTrustInnerWrap {
    height: 600px;
}

.exclusiveHeader {
    font-size: 20px;
}

.contain_text_name_blok {
    margin-top: 10px;
}

.contain_text_name_text {
    margin: 0px !important;
    max-width: 100%;
    margin-top: 10px !important;
    font-size: 20px;
}

.contain_text_name {
    margin-top: 20px;
    font-size: 23px;
}

.contain_text_name_second {
    font-size: 20px;
}

.media_client_text {
    font-size: 23px;
    padding: 0px;
    margin-top: 30px;
}

.ourPrerogatives img {
    width: 90px !important;
    margin: 0px 20px;
    height: 90px;
    object-fit: contain;
    /* margin-bottom: 80px; */
}

.ourPrerogatives>div>div {
    font-weight: 600;
    font-size: 20px;
}

.ourPrerogatives>div {
    align-items: center;
    margin-bottom: 30px;
}

.bg_fon{
    background-image: url(../HTML_Native_Layout-1/img/bgfon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    position: relative;
    overflow-x: hidden;
}
.bg_position_solid{
    background-image: url(img/solid.png);
    background-repeat: no-repeat;
    left: -160px;
    position: relative;
    background-position: center;
    background-size: 110%;
    width: 110%;
    height: 400px;
    z-index: 2;
    top: 100px;
}

.mb-20 {
    margin-bottom: 26rem!important;
}

.bg_posotion_clients{
    background-image: url(img/armatura.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 30px;
    right: 0;
    left: 85%;
    z-index: 2;
}

#menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

.menu__box {
    right: 0px !important;
    display: block;
    position: fixed;
    visibility: hidden;
    z-index: 15;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ff810b;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

    .ctb {
        padding: 0px;
    }

    .solution_position_block_ferst_position {
        position: relative;
    }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: auto;
  }

.bg_posotion_clients2{
    transform: scale(0.5);
    background-image: url(img/armor_elips.png);
    width: 100%;
    height: 150px;
    bottom: 0px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 30px;
    left: 67%;
    z-index: 2;
}
.bg_position_arma_clients{
    background-image: url(img/fon_arma_client.png);
    width: 100%;
    height: 150px;
    z-index: 5;
    background-repeat: no-repeat;
    position: relative;
    right: 40px;
}
.p-r {
    position: relative;
}

.br-lt { border-radius: 15px 0px 0px 0px; }
.br-rt { border-radius: 0px 15px 0px 0px; }
.br-rb { border-radius: 0px 0px 15px 0px; }
.br-lb { border-radius: 0px 0px 0px 15px; }

.imageContainer-1 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35%;
}

.bottomMenuRight div {
    font-weight: bold;
}

.container-main {
    max-width: 1100px;
    padding: 0px;
}

.flexBasis-33 {
    flex-basis: 33.333%;
}

.clients_haiding, .utp_button3, .utp_button, .exclusiveHeader, .tabs>input:checked + label, .call_button {
    color: white;
}

.exclusiveHeader {
    padding: 10px 20px;
    position: relative;
}

.exclusiveHeader:after {
    background-color: #ffffff;
    content: '';
    right: -25px;
    top: -15px;
    width: 70px;
    transform: rotate(45deg);
    position: absolute;
    height: 40px;
}

.background-green {
    background-color: #00bc62;
}

.background-orange {
    background-color: #ff7d00;
}

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Proxima Nova Rg";
}

body {
    color: #211e1b;
}

/*.bg {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.header_position {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top: 20px;
    width: 1100px;
}

span {
    color: #ff7b00;
}

.upercase {
    margin: 0;
    margin-left: 5px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.logo {
    display: inline-flex;
    align-self: center;
    align-items: flex-end;
    margin: 0;
    width: 216px;
    height: 57px;
}

.menu {
    display: inline-flex;
    align-self: center;
    justify-content: flex-end;
    width: 495px;
    font-size: 14px;
    text-transform: uppercase;
}

.menu li {
    display: inline-flex;
    padding-top: 20px;
    width: 110px;
    text-align: center;
}

label.menu__btn {
    z-index: 20;
    border-radius: 5px;
    background-color: #ff810b;
    box-shadow: 0 0 0 8px #ff810b;
}

.menu a {
    display: block;
    color: #211e1b;
}

.menu a:hover {
    color: #60ba68;
    text-decoration: none;
}

.call {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    width: 203px;
    color: #434343;
    letter-spacing: 01px;
}

.call_phone {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.call_button {
    width: 203px;
    height: 55px;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    background-color: #60ba68;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.position_foreutp {
    display: flex;
    justify-content: center;
}

.position_utp {
    display: inline-flex;
    margin-top: 40px;
    width: 1100px;
}

.utp {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: start;
    padding-top: 15px;

}

.utp_text {
    display: block;
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Lt';
    letter-spacing: 01px;
}

.utp_send {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
}

.utp_text_two {
    margin: 0;
    font-size: 30px;
}

.utp_send {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: solid 1px #ff7b00;
    border-radius: 10px;
}

.utp_send_text {
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
}

.utp_input {
    width: 304px;
    height: 56px;
    border: solid 1px #c4c4c4;
    border-radius: 10px;
    color: #c4c4c4;
    padding: 20px;
    margin-top: 15px;
}

.utp_send_text_two {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
}

.utp_text_tree {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.utp_button {
    width: 304px;
    height: 56px;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    background-color: #60ba68;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.next_position{
    position: absolute;
    top: 8%;
    left: 14%;
}
.next{
    position: absolute;
    width: 3px;
    height: 80px;
    background-color: #dd6a00;
   
}
.next_text{
   transform: rotate(270deg);
   color: #dd6a00;
    position: relative;
    right: 23px;
    bottom: 10px;
   
}
.offers_position{
   width: 100%;
}
.offer_with{
    display: inline-flex;
    z-index: 2;
    width: 480px;
    position: absolute;
    left: 30%;
    top: 4.85%;
    font-size: 14px;
    font-weight: bold;
}
.offer_with_two{
    display: inline-flex;
    width: 480px;
    z-index: 2;
    position: absolute;
    left: 33.5%;
    top: 6.09%;
    font-size: 14px;
    font-weight: bold;
}
.offer_with_tree{
    display: inline-flex;
    width: 480px;
    z-index: 2;
    position: absolute;
    left: 39.5%;
    top: 7.3%;
    font-size: 14px;
    font-weight: bold;
}
.offer_with_fore{
    display: inline-flex;
    width: 480px;
    z-index: 2;
    position: absolute;
    left: 45.5%;
    top: 8.19%;
    font-size: 14px;
    font-weight: bold;
}
.offer_with_fife{
    display: inline-flex;
    width: 480px;
    z-index: 2;
    position: absolute;
    left: 56.3%;
    top: 9.06%;
    font-size: 14px;
    font-weight: bold;
}

.offer_text{
    display: inline-flex;
    position: relative;
    right: 25px;
    bottom: 10px;
}
.offer{
    width: 150px;
}


.container_main_had{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.tabs { 
    width: 100%;
    padding: 0px;
    background-color: #eae9e9;
    margin: 0 auto;
    box-shadow: 0 0 40px 20px #e7e6e6;
    border-radius: 15px;
}
.tabs>input { display: none; }
.tabs>div {
    display: none;
    padding: 12px;
    background: #f0f0f0;
}
.tabs tr:nth-child(2n) {
    background-color: #eae9e9;
}
.prisce_nembers_block {
    position: relative;
}
.prisce_nembers_block {
    padding: 0px 20px;
    text-align: center;
}
.prisce_nembers_block:nth-child(2):after {
    content: '';
    height: 110px;
    width: 3px;
    background-color: white;
    left: 0px;
    top: 32%;
    position: absolute;
}

.utp_button3 {
    padding: 10px 10px;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    background-color: #60ba68;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bottomMenu a {
    color: black;
    text-decoration: none;
}

.bottomMenu a:hover {
    color: #32c16f;
}
.prisce_nembers_block:nth-child(2):before {
    content: '';
    height: 110px;
    width: 3px;
    background-color: white;
    right: 0px;
    top: 32%;
    position: absolute;
}
.tabs>label {
    font-size: 14px;
    display: inline-block;
    font-weight: 600;
    padding: 15px 15px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}
.tabs tr td {
    padding: 15px;
}
.tabs tr:hover {
    background-color: #32c16f;
    cursor: pointer;
}
.tabs>input:checked + label:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 30px;
    background-color: #ff7b00;
    left: 0px;
    bottom: -19px;
}
.tabs>input:checked + label {
    position: relative;
    border: 0px !important;
    border-bottom: 1px solid #FFFFFF;
    background: #ff7b00;
    border-radius: 15px;
    z-index: 1 !important;
}

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4,
#tab_5:checked ~ #txt_5, 
#tab_6:checked ~ #txt_6,
#tab_7:checked ~ #txt_7,
#tab_8:checked ~ #txt_8,
#tab_9:checked ~ #txt_9 { 
    display: block; 
    padding: 0px;
    position: relative;
    border-radius: 15px;
    z-index: 9;
}

.achiv_position {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin-top: 90px;
    
}

.heading {
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;

}

.win_position {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.win_position_img {
    display: flex;
    justify-content: center;
}

.win_position_blok>p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 300px;
}

.solution_position {
    display: flex;
    width: 1100px;
}

.solution_position_haiding {
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
}

.solution_position_block_ferst {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
}

.solution_position_block_ferst_position {
    display: inline-flex;
    justify-content: flex-start;
}

.solution_position_block_ferst_text {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: center;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin-left: 20px;
}

.solution_position_block_ferst_img {
    margin-bottom: 30px;
    position: absolute;
}

.block_position {
    margin-left: 650px;
    position: relative;
}

.solution_position_block_second_position {
    display: inline-flex;
    justify-content: flex-end;
}

.solution_position_block_second_text {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: center;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin-left: 20px;
}

.clients {
    position: relative;
    margin-top: 85px;
    background-color: #ff7b00;
}

.clients_position {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
}

.clients_haiding {
    margin: 0;
    margin-top: 101px;
    font-size: 48px;
    line-height: 1.1;
}

.clients_bloks_position {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 36px;
    margin-bottom: 105px;
    width: 1100px;
    justify-content: space-between;
    align-content: center;

}

.clients_blocks {
    width: 225px;
    margin-top: 15px;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 8px #dd6a00;
}

.clients_blocks_img {
    display: flex;
    justify-content: center;
}

.metal_position{
    display: block;
    margin-top: 102px;
}
.metal_position>h2{
    font-size: 48px;
}
.metal_position_input{
    width: 300px;
    margin-right: 25.5px;
    padding: 10px 15px;
    border-radius: 10px;
    border: solid 1px #d0d0d0;
    color: #d0d0d0;

}
.metal_position_button{
    width: 300px;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    color: #fff;
}
.form{
    margin-top: 40px;
}

.info_text{
    font-size: 48px;
}
.caps{
    font-weight: bold;
}
.img_position{
    position: relative;
    top: 35px;
}
.three_tex{
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 50px;
}

.containIMG_wrapper {
    position: relative;
    flex-basis: 60%;
}

.containIMG_wrapper:after {
    content: '';
    height: 100%;
    width: 15px;
    background-color: white;
    position: absolute;
    left: 49%;
}

.font_w{
    font-weight: bold;
}
.font_w_two{
    margin-top: 27px;
    font-weight: bold;
}
.contain_img {
    border-radius: 10px;
}
.content_img_two{
    border-radius: 10px;
}

.contain_text{
    display: block;
    padding-left: 27px;
    margin-top: 27px;
}
.contain_text_name{
    font-size: 18px;
    font-weight: bold;
}
.contain_text_name_second{
    margin-top: 5px;
}
.contain_text_name_blok {
    padding: 10px;
    padding-left: 0;
    color: #fff;
    border-radius: 10px;
}
.contain_text_name_blok_div {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
.left{
    margin-left: 15px;
}
.contain_text_name_text{
    max-width: 400px;
    font-size: 14px;
}
.block_left, .contain_text_position {
    padding-left: 0;
}
.dots, .contain_text_left, ul.listProperties li:before, .block_text_left, .img_blockб .contain_text_name_blok_div {
    display: inline-block;
}
.contain_position_two{
    margin-top: 27px;
}

.beTrustInner>div {
    margin: auto 0px !important;
}

.price_block>h2{
    font-size: 40px;
    color: #fff;
}
.price_block_text{
    color: #fff;
    font-size: 18px;
}
.prisce_nembers_block{
    justify-content: center;
}

.price_numers{
    margin-top: 25px;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.border{
    display: block;
    position: relative;
    top:0;
    height: 60%;
    width: 4px;
    background-color: #fff;
}
.price_text{
    color: #fff;
}
.price_blok_text {
    display: block;
    margin-top: 15px;
    color: #fff;
}

.utp_input2 {
    width: 304px;
    height: 50px;
    border: solid 1px #c4c4c4;
    border-radius: 10px;
    color: #c4c4c4;
    padding: 20px;
    margin-top: 15px;
}

ul.listProperties li {
    margin-left: 20px;
}

ul.listProperties li:before {
    content: "";
    font-weight: bold;
    margin-right: 10px;
    background-color: #ff7d00;
    border-radius: 55px;
    font-size: 22px;
    width: 10px;
    height: 10px;
    margin-left: -1em;
}

.container-main {
    max-width: 1100px;
    padding: 0px;
    }
.conteiner_main_block{
    position: absolute;
    padding: 15px 34px;
    width: 445px;
    z-index: 4;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.conteiner_main_block>p{
    display: block;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.conteiner_main_block_position{
   display: inline-block;
   width: 300px;
   margin-left: 50px;
}
.conteiner_main_text{
    display: inline-block;
    font-size: 18px;
    margin-bottom: 15px; 
}
.conteiner_main_tex_img{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;

}
.placeholder {
    margin-left: 2px;
}
.conteiner_main_button {
    border: 0;
    background-color: #32c16f;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 100px;
    margin-bottom: 20px;
}

.control_blok{
    letter-spacing: 1;
    font-size: 48px;
}
.control_form{
    display: block;
    margin-top: 118px;
}
.control_block_text_two{
    margin-top: 5px;
}
.dots {
    width: 5px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #dd6a00;
}
.position_li>li{
    line-height: 2.6;
    margin-left: 15px;
}

.ppz {
    margin-bottom: 45px;
}
